.portfolio__container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  padding: 0 7rem 0 7rem;
}

.portfolio__items {
  background-color: transparent;
  border-radius: 1.5rem;
  transition: 0.3s;
  border: 2px solid var(--title-color);
}

.portfolio__items:hover {
  transform: translateY(-3px);
  background: var(--primary-color-dark);
  box-shadow: 0px 1px 2px 0px rgba(255, 247, 0, 0.5),
    1px 2px 4px 0px rgba(255, 247, 0, 0.5),
    2px 4px 8px 0px rgba(255, 247, 0, 0.5),
    2px 4px 16px 0px rgba(255, 247, 0, 0.1);
}

.portfolio__img {
  width: auto;
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}

.portfolio__title {
  text-align: center;
  color: var(--title-color);
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  margin: var(--mb-1)
}

.portfolio__subtitle {
  text-align: center;
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  padding: var(--mb-0-75);
  margin-bottom: var(--mb-0-75);
}

.portfolio__tags {
  text-align: center;
  font-weight: normal;
  margin-bottom: var(--mb-2);
}

.portfolio__tags>span {
  color: var(--title-color);
  font-weight: var(--fw-medium);
}

.portfolio__links {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-1);
  gap: 1rem;
}

.portfolio__link {
  background-color: var(--title-color-dark);
  color: var(--primary-color);
  font-weight: var(--fw-medium);
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px 0px rgba(255, 247, 0, 0.3),
    1px 2px 4px 0px rgba(255, 247, 0, 0.3),
    2px 4px 8px 0px rgba(255, 247, 0, 0.3),
    2px 4px 16px 0px rgba(255, 247, 0, 0.1);
  transition: all 0.3s;

}

.portfolio__link:hover {
  background-color: var(--title-color);
  color: var(--primary-color-dark);
}

.portfolio__icon {
  margin-left: 5px;
  font-size: 1.5rem;
}


/* ============ BREAKPOINTS =========== */
/* For Larger Devices */
@media screen and (max-width:992px) {
  .portfolio__container {
    grid-gap: 1.5rem;
    /* padding: 0 auto; */
  }
}

/* For Medium Devices */
@media screen and (max-width:768px) {
  .portfolio__container {
    grid-gap: 1.5rem;
    padding: 0;
  }


}

@media screen and (max-width:576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 2rem;
    padding: 0rem;
  }
}

/* For Small Screen */
@media screen and (max-width:350px) {
  .portfolio__container .portfolio__title .portfolio__subtitle {
    font-size: var(--fs-small);
  }

  .portfolio__links {
    flex-direction: column;
    margin: 2rem;
  }

  .portfolio__link {
    justify-content: center;
  }
}