.portfolio__container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  padding: 1rem;
  border-radius: 5rem;
}

.portfolio__items {
  /* display: grid; */
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 2rem;
  transition: 0.3s;
  border: 5px solid transparent;
}

.portfolio__items:hover {
  transform: translateY(-5px);
  border-color: var(--title-color);
  background: transparent;
}

.portfolio__img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__title {
  text-align: center;
  color: var(--title-color);
  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  margin: 1.2rem 0 1.2rem
}

.portfolio__subtitle {
  font-size: var(--fs-small);
  padding: var(--mb-0-75);
}

.portfolio__tags {
  display: flex;
  column-gap: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.portfolio__tag {
  display: flex;
  align-items: center;
  background-color: rgb(229, 229, 229);
  color: var(--title-color);
  font-size: var(--fs-smaller);
  padding: 0 1rem;
  border-radius: 0.2rem;
}

.portfolio__links {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

.portfolio__link {
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
}

.portfolio__link-border {
  border: 3px solid black
}

.portfolio__link:hover {
  background-color: var(--title-color-dark);
}


/* ============ BREAKPOINTS =========== */
/* For Larger Devices */
@media screen and (max-width:992px) {
  .portfolio__container {
    grid-gap: 1.5rem;
    padding: 0 auto;
  }
}

/* For Medium Devices */
@media screen and (max-width:768px) {
  .portfolio__container {
    grid-gap: 1rem;
    padding: 0 auto;
  }


}

@media screen and (max-width:576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 2rem;
    margin: 0 auto;
  }

  .portfolio__items {
    padding: 0 auto;
  }
}

/* For Small Screen */
@media screen and (max-width:350px) {}